http://localhost:8080 {
    reverse_proxy 127.0.0.1:8000
}

http://localhost:8081 {
    reverse_proxy 127.0.0.1:8001
}

http://localhost:8082 {
    reverse_proxy 127.0.0.1:8000 {
        flush_interval -1
    }
}